button {
    margin-right: 10px;
}

.card-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    box-shadow: b;
}

.confirmation ::ng-deep .jw-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    border-radius: 50px;
    border: 1px solid #cfc8bf;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 15vw !important;
    height: 25vh !important;
    padding: 20px;
    background-blend-mode: multiply;
    background-color: #cfc8bf;
    background-size: cover;

    /* margin exposes part of the modal background */
}


.confirmation ::ng-deep .jw-modal {
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    /* modal container fixed across whole screen */
    position: fixed;
    top: 25%;
    left: 40%;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;
}

.confirmation ::ng-deep .jw-modal h3 {
    margin-bottom: 0px;
}